.form-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  
  }
  
  .form-header {
    margin-bottom: 30px;
    text-align: center;
  }
  
  .btn-container {
    text-align: right;
    display: flex;
    justify-content: center;
  }
  
  
  .hidden {
      display: none;
    }
    .error-message {
      color: red;
      font-size: 0.9em;  /* Optional: adjust the size of the error message */
      margin-top: 5px;   /* Optional: add some space between the field and the message */
      display: block;    /* Ensure the message appears as a block element below the input */
    }
  
    body{
      
    background-image: url('../img/option1.jpg'); 
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    }
  
  
    .btn-back {
      margin-right: 395px; 
      padding: 5px 15px; 
      background-color: #cdcdcdee; 
      color: black; 
      font-size: 16px;
      border-radius: 5px; 
      text-decoration: none; 
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }
    
    .btn-back:hover {
      background-color: #d7d7d7; 
    }
    
    .btn-primary {
      background-color:  #20c997;
      color: white;
      padding: 8px 20px; 
      border: none;
      border-radius: 5px; 
      font-size: 16px; 
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }
    
    .btn-primary:hover {
      background-color: #058968; 
    }
  
    .already-account {
      text-align: center;
      margin-top: 20px;
     
    }
    
    .already-account p {
      font-size: 15px;
      color: #333; 
    }
    
    .already-account a {
      color: #20c997; 
      text-decoration: underline;
      font-weight: bold;
    }
    
   